{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block page_title %}Problems{% endblock %}

{% block page_content %}
<div class="container" style="width: 90%">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-3">Problems</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" style="width:70%;">Title</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for problem in problems %}
                    <tr>
                        <th>{{ problem.abbr }}</th>
                        <td><a href="{{ url_for('problem.show', pid = problem.id) }}">{{ problem.title }}</a></td>
                        <td>-</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div><br>
    {% if current_user.id == 1 %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-3">New Problem</h4>
            <hr>
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="row">
                    <div class="form-group col-sm-3">
                        {{ form.abbr.label }}{{ form.abbr(class='form-control') }}
                    </div>
                    <div class="form-group col-sm-9">
                        {{ form.title.label }}{{ form.title(class='form-control') }}
                    </div>
                </div>
                {{ form.submit(class='btn float-right') }}
            </form>
        </div>
    </div><br>
    {% endif %}
</div>
{% endblock %}