{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script src="/static/ace//ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/tomorrow");
    editor.session.setMode("ace/mode/c_cpp");

    document.getElementById('editor').style.fontSize = '13px';

    var input = $('textarea[name="code"]');
    input.val(editor.getSession().getValue());

    editor.getSession().on("change", function () {
        input.val(editor.getSession().getValue());
    });
</script>
{% endblock %}

{% block page_title %}Submit{% endblock %}

{% block page_content %}
<div class="container" style="width: 90%">
    <form method="POST">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-3"><a href="{{ url_for('problem.show', pid = problem.id) }}">{{ problem.title
                        }}</a></h4>
                <hr>
                {{ form.hidden_tag() }}
                <div class="row">
                    <div class="col-sm-4">Total Score:　{{ problem.total_score }}</div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">{{ form.submit(class = 'btn float-right') }}</div>
                </div>
            </div>
        </div><br>
        <div class="card">
            <div class="card-body" style="height: 500px">
                <div id="editor"></div>
                {{ form.code(style='display: none;') }}
            </div>
        </div><br>
    </form>
</div>
{% endblock %}