{% extends "bootstrap/base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/esm/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
{{ moment.include_moment() }}
{{ pagedown.include_pagedown() }}
<script>
    var update = function(){
        document.getElementById("time").innerText = moment().format('LTS');
    }
    setInterval(update, 1000);
</script>
{% endblock %}

{% block title %}{{ config['CONTEST'] }} - {% block page_title %}{% endblock %}{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">{{ config['CONTEST'] }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {{ 'active' if request.path.startswith('/bulletin') }}">
                    <a class="nav-link" href="{{ url_for('main.bulletin') }}">Bulletin<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {{ 'active' if request.path.startswith('/ranking') }}">
                    <a class="nav-link" href="{{ url_for('main.ranking') }}">Ranking</a>
                </li>
                <li class="nav-item {{ 'active' if request.path.startswith('/submissions') }}">
                    <a class="nav-link" href="{{ url_for('submission.list') }}">Submissions</a>
                </li>
                <li class="nav-item {{ 'active' if request.path.startswith('/problems') }}">
                    <a class="nav-link" href="{{ url_for('problem.problems') }}">Problems</a>
                </li>
            </ul>

            <ul class="navbar-nav my-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" id="time">{{ moment(current_time).format('LTS') }}</a>
                </li>
                <li class="nav-item dropdown active">
                    {% if current_user.is_authenticated %}
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">{{
                        current_user.username }} <span class="caret"></span></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="{{ url_for('auth.settings') }}">Settings</a>
                        <a class="dropdown-item" href="{{ url_for('submission.list_by_user', uid = current_user.id) }}">Submissions</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for('auth.signout') }}">Sign out</a>
                    </div>
                    {% else %}
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Guest <span class="caret"></span></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="{{ url_for('auth.signin') }}">Sign in</a>
                        <a class="dropdown-item" href="{{ url_for('auth.signup') }}">Sign up</a>
                    </div>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<div class="container">
    <div class="container" style="width: 90%">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-dismissible alert-light">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% block page_content %}{% endblock %}
</div>
{% endblock %}