{% extends "base.html" %}

{% block page_title %}Ranking{% endblock %}

{% block page_content %}
<div class="container" style="width: 90%">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-3">Ranking</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">pA</th>
                        <th scope="col">pB</th>
                        <th scope="col">pC</th>
                        <th scope="col">pD</th>
                        <th scope="col">pE</th>
                        <th scope="col">pF</th>
                        <th scope="col">pG</th>
                        <th scope="col">pH</th>
                        <th scope="col">Total Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-default">
                        <th scope="row">1</th>
                        <td>郝嘉誠</td>
                        <td style="background: lightgreen;">100</td>
                        <td style="background: lightcoral;">50</td>
                        <td style="background: lightcoral;">80</td>
                        <td style="background: lightgreen;">100</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>330</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div><br>
</div>
{% endblock %}